.fluid-container{
  overflow-x: hidden;
  background-image: url('./Rectangle\ 1.png');
}

.cust{
  background: #0F0F0F80;
}

.tabs{
  padding: 0 5vw;
}

.a{
  padding-top: 5vh;
  letter-spacing: 1.5vh;
  color: #FFFFFFB2;
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
}

.b{
  
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15vh;
  font-weight: bold;
}

.camp{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  font-weight: bold;
}

.will{
  padding: 0;
}
.c{
  padding: 2vh;
  margin-left: 33vh;
  margin-bottom: 2vh;
  /* padding-left: 4vh; */
  background: rgba(255, 255, 255, 0.1);
  /* opacity: 0.2; */
}

.d{
  margin-bottom: 3vh;

  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2vh;
}

#btn{
  text-decoration: none;
  color: white;
}

.e:hover{
  background: rgba(255, 255, 255, 0.1);

}

.e{
  background: rgba(255, 255, 255, 0.27);
  font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
  font-size: 3vh;
  text-align: center;
  padding: 2vh 0;
  margin-bottom: 3vh;
}

.outer-alter{
  background-color: black;
  padding-top: 8vh ;
  padding-bottom: 8vh ;

}

.outer-altr{
  background-color: black;
  /* margin-bottom: 8vh; */
  padding-bottom: 8vh ;

}

.way{
  letter-spacing: 1.5vh;
  color: white;
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
}

.f{
  background: rgba(255, 255, 255, 0.1);
  padding-top: 3vh;
  padding-bottom: 3vh;

  padding-left: 31.5vh;
  margin-bottom: 8vh;
}

.tarike{
  display: flex;
  justify-content: center;
  /* margin: 0 15vh; */
}

.h{
  height: 50vh;
  
}

.i{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.j{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  color: white;
  bottom: 5vh;
  font-size: 2vh;
  font-weight: bold;
}

.contact{
  background-color: black;
}

.w{
  background: rgba(255, 255, 255, 0.27);
  padding: 1vh 0;
}

.manage-inner{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.fa{
  
    text-decoration:none;
  color:white;
  margin:2vh;
  }

.department{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7vh;
  /* font-weight: bold; */
}

label{
  color: white;
  margin-left: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
}

.u{
  background: rgba(255, 255, 255, 0.18);
padding: 3vh 5vh;
}

input,select{
  width: 30vw;
  background: #D9D9D9;
  border: none;
  padding: 0.5vh;
  color: black;
}

.r{
  padding: 2vh;
  display:flex;
  justify-content: center;
}

.p{
  padding: 3vh 10vh;
}

#submitBtn,#submitBt{
background: none;
border: none;
}

#submitBtn:hover,#submitBt:hover{
cursor: pointer;
}

.pam{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
}




/* DEMO-SPECIFIC STYLES */
.typewriter p {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
.zm{
  display: none;
}


.nf{
  height: 30vh;
  text-align: center;
  /* background-image: url(./Assets/Images/n1.jpeg); */
}

.nj{
  font-size: 1.5vh;
}

.nig{
  height: 30vh;
  width: 20vw;
}

.challenge{
  padding: 5vh 0;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
 @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@media screen and (max-width:1024px) {
  .h{
    height:35vh;
  }
  .tabs{
    padding: 0 3vw;
  }
  .b{
    font-size: 13vh;
  }
  .camp{
    font-size: 2.8vh;
  }
  .c{
    margin-left: 24vh;
  }
  .e{
    font-size: 2.5vh;
  }
  .f{
    padding-left: 23.5vh;
  }
  label{
    margin-left: 2vh;
    font-size: 2vh;
  }
  .nig{
    width: 23vw;
  }
} 

@media screen and (max-width:768px){
  .a{
    font-size: 2vh;
  }
  .b{
    font-size: 10vh;
  }
  .manage-inner{
    margin: 2vh 0;
  }
  .nig{
    height: 23vh;
  }
}

@media screen and (max-width:425px) {
  .a{
    letter-spacing: 0.5vh;
  }
  .b{
    font-size: 6vh;
  }
  .c{
    margin-left: 1vh;
  }
  .f{
    padding-left: 2vh;
  }
  
  .zd{
    display: none;
  }
  .zm{
    display: block;
  }

  input ,select{
    width: 70vw;
  }
  .department{
    font-size: 2vh;
  }
  .outer-altr,.outer-alter,.jhbxh{
    padding-left: 2vh;
    padding-right: 2vh;
  }
  .pam{
    font-size: 2vh;
  }
  .nig{
    height: 24vh;
    width: 49vw;
  }
}

@media screen and (max-width:320px) {
  .a{
    letter-spacing: 0.2vh;
  }
  .b{
    font-size: 5vh;
  }
  .department{
    font-size: 2vh;
  }
}
