.fluid-container{
  overflow-x: hidden;
  background-image: url('./Rectangle\ 1.png');
}

.cust{
  background: #0F0F0F80;
}

.tabs{
  padding: 0 5vw;
}

.a{
  padding-top: 5vh;
  letter-spacing: 1.5vh;
  color: #FFFFFFB2;
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
}

.b{
  
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15vh;
  font-weight: bold;
}

.camp{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  font-weight: bold;
}

.will{
  padding: 0;
}
.c{
  padding: 2vh;
  margin-left: 33vh;
  margin-bottom: 2vh;
  /* padding-left: 4vh; */
  background: rgba(255, 255, 255, 0.1);
  /* opacity: 0.2; */
}

.d{
  margin-bottom: 3vh;

  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2vh;
}

#btn{
  text-decoration: none;
  color: white;
}

.e:hover{
  background: rgba(255, 255, 255, 0.1);

}

.e{
  background: rgba(255, 255, 255, 0.27);
  font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
  font-size: 3vh;
  text-align: center;
  padding: 2vh 0;
  margin-bottom: 3vh;
}

.outer-alter{
  background-color: black;
  padding-top: 8vh ;
  margin-bottom: 8vh;
  padding-bottom: 8vh ;

}

.way{
  letter-spacing: 1.5vh;
  color: white;
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
}

.f{
  background: rgba(255, 255, 255, 0.1);
  padding-top: 3vh;
  padding-bottom: 3vh;

  padding-left: 31.5vh;
  margin-bottom: 8vh;
}

.tarike{
  display: flex;
  justify-content: center;
  /* margin: 0 15vh; */
}

.h{
  height: 50vh;
  
}

.i{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.j{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  color: white;
  bottom: 5vh;
  font-size: 2vh;
  font-weight: bold;
}

.contact{
  background-color: black;
}

.w{
  background: rgba(255, 255, 255, 0.27);
  padding: 1vh 0;
}

.manage-inner{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.fa{
  
    text-decoration:none;
  color:white;
  margin:2vh;
  }

.department{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7vh;
  /* font-weight: bold; */
}